// The global styles for the site.
// It should not related to any specific page or component.
* {
  box-sizing: border-box;
  line-height: 1.5em;
}

body {
  width: var(--body-width);

  margin: 0 auto;
  min-height: 98vh;

  font-family: var(--font-family);
  font-size: var(--font-size);

  color: var(--color-text);
  background-color: var(--color-bg);

  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--color-highlight);
  text-decoration: none;
}

p,
li {
  & > code {
    display: inline-block;

    padding: 0 0.15em;
    color: var(--color-danger);

    cursor: pointer;
  }
}

pre > code {
  span {
    font-size: 0.98em !important;
  }
}

ul {
  &.no-bullets {
    list-style-type: none;
  }
}

li {
  ul,
  ol {
    padding-left: 1.2em;
  }
}

hr {
  width: 100%;
  border: 1px solid var(--color-muted);
}

blockquote {
  border-left: 0.3em solid var(--color-highlight);

  padding-left: 0.4em;
  margin-left: 1em;
}

img {
  display: block;
  margin: 1em auto;
}

pre {
  padding: 0.7em;
  border-radius: 0.5em;

  background-color: var(--color-dark-grey) !important;

  overflow: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /*  for Chrome, Safari and Opera */
  }
}

label {
  margin-right: 1em;
}

table {
  margin: 0 auto;
  border-collapse: collapse;

  th,
  td {
    padding: 0 1em;
    padding-top: 0.7em;

    &:not(:first-child) {
      border-left: 2px solid var(--color-fg);
    }
  }

  th {
    font-style: bold;
    font-size: 1.25em;

    text-align: center;
    padding-bottom: 0.5em;

    border-bottom: 2px solid var(--color-fg);
  }
}

article {
  display: flex;
  width: 100%;

  section {
    max-width: 100%;
    width: calc(100% - var(--toc-width));

    > blockquote:first-child {
      color: var(--color-muted);
      font-style: italic;
      border-left: none;
    }

    p {
      text-align: justify;
    }
  }

  aside {
    width: var(--toc-width);
    height: 100%;
    margin-left: 1em;

    order: 999;
    top: 2em;
    position: -webkit-sticky;
    position: sticky;

    a {
      width: 80%;
      display: inline-block;

      color: var(--color-muted) !important;

      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    > nav {
      border-left: 1px solid var(--color-muted);
    }

    ul {
      list-style-type: none;
    }
  }
}

header {
  width: 100%;
  padding: 1em 2em;
}

main {
  width: 100%;

  display: flex;
  flex: 1;

  flex-direction: column;
  justify-content: center;
}

footer {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: var(--color-muted);

  text-align: center;

  a {
    color: var(--color-hint);
  }
}
