// The global styles for the site.
// It should not related to any specific page or component.
* {
  box-sizing: border-box;
  line-height: 1.5em;
}

body {
  margin: 0;
  min-height: 100vh;

  font-family: var(--font-family);
  font-size: var(--font-size);

  color: var(--color-text);
  background-color: var(--color-bg);

  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--color-primary);

  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

p,
li {
  & > code {
    display: inline-block;

    padding: 0 0.15em;
    color: var(--color-danger);

    cursor: pointer;
  }
}

ul {
  &.no-bullets {
    list-style-type: none;
  }
}

li {
  ul,
  ol {
    padding-left: 1.2em;
  }
}

hr {
  width: 100%;
  border: 1px solid var(--color-muted);
}

blockquote {
  border-left: 0.3em solid var(--color-secondary);

  padding-left: 0.4em;
  margin-left: 1em;
}

img {
  display: block;
  margin: 1em auto;
}

label {
  margin-right: 1em;
}

table {
  margin: 0 auto;
  border-collapse: collapse;

  th,
  td {
    padding: 0 1em;
    padding-top: 0.7em;

    &:not(:first-child) {
      border-left: 2px solid var(--color-text);
    }
  }

  th {
    font-style: bold;
    font-size: 1.25em;

    text-align: center;
    padding-bottom: 0.5em;

    border-bottom: 2px solid var(--color-text);
  }
}

header {
  width: 100%;
  padding: 1em 2em;
}

main {
  width: 800px;

  display: flex;
  flex: 1;

  flex-direction: column;
  justify-content: center;
}

footer {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: var(--color-muted);

  text-align: center;

  a {
    color: var(--color-muted-primary);
  }
}
