// The container implements the layout of the page.
.container {
  display: flex;
  max-width: 1200px;

  .content {
    padding: 0 1rem;

    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .center {
    text-align: center;
    justify-content: center;
  }

  .right {
    margin-left: auto;
  }
}

.fill {
  flex: 1;
}

.row {
  margin: 0.3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .item {
    margin-right: 2em;
  }

  i {
    display: inline-block;
    margin-right: 0.3em;
  }
}

.bricks {
  .brick {
    padding-right: 0.4em;
    margin-right: 3px;

    background-color: var(--color-text);
  }
}
