// The RWD (Responsive Web Design) styles.

@media only screen and (max-width: 768px) {
  body {
    width: 100%;

    margin: 0 auto;
    font-size: 0.9rem;
    min-height: 100vh;
  }
  main {
    padding: 0 0.6em;
  }

  #location {
    display: none;
  }

  footer {
    font-size: 0.7em;
  }

  h1 {
    font-size: 1.5em;
  }

  h2,
  h3 {
    font-size: 1.2em;
  }

  h4,
  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.9em;
  }

  ul {
    padding-left: 0em;
    margin-left: 0em;

    li,
    ol {
      padding-left: 0.5em;
      margin-left: 0.5em;
    }
  }
}

@media only screen and (max-width: 1024px) {
  body {
    width: 100%;

    padding: 0 1em;
  }

  section {
    width: 100% !important;
    overflow-x: hidden;
  }

  aside {
    display: none !important;
  }
}
