// The customized styles are related to the theme of the site.
.m1 {
  margin-left: 0.3em;
}

.m2 {
  margin-left: 0.7em;
}

.m3 {
  margin-left: 1.5em;
}

.m4 {
  margin-left: 2em;
}

.p1 {
  padding: 0.3em;
}

.p2 {
  padding: 0.7em;
}

.p3 {
  padding: 1.5em;
}

.p4 {
  padding: 2em;
}

.s1 {
  display: inline-block;
  width: 30px;
}

.s2 {
  display: inline-block;
  width: 80px;
}

.s3 {
  display: inline-block;
  width: 140px;
}

.s4 {
  display: inline-block;
  width: 240px;
}

.text {
  color: var(--color-text) !important;
}

.text-highlight {
  color: var(--color-highlight) !important;
}

.text-success {
  color: var(--color-success) !important;
}

.text-warning {
  color: var(--color-warning) !important;
}

.text-danger {
  color: var(--color-danger) !important;
}

.text-muted {
  color: var(--color-muted) !important;
}

.bg-success {
  background-color: var(--color-success) !important;
}

.bg-warning {
  background-color: var(--color-warning) !important;
}

.bg-danger {
  background-color: var(--color-danger) !important;
}

.bg-muted {
  background-color: var(--color-muted) !important;
}

.border {
  border: 3px solid var(--color-muted);
  border-radius: 0.7em;
}
