// The customized themes.
.tag {
  color: var(--color-white);
  background-color: var(--color-grey);

  display: inline-block;
  margin: 0.3em auto;
  padding: 0.2em 0.5em;
  border-radius: 0.3em;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-hint);
  }
}

.btn {
  padding: 0.5em 0.3em;
  color: var(--color-text);

  &:hover {
    filter: brightness(75%);
  }

  & i {
    font-size: 1.3em;
  }
}

.draft {
  &::before {
    content: "(draft) ";
    color: var(--color-red);
  }
}

.center {
  text-align: center;
}

.content {
  h1,
  h2,
  h3 {
    margin-top: 2em;
  }

  h3,
  h4 {
    margin-left: 1em;
  }

  h5,
  h6 {
    margin-left: 1.6em;
  }
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .btn {
    width: 2em;
    height: 2em;
    margin: 0 0.1em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.3em;
    border: 1px solid var(--color-primary);
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  span {
    color: var(--color-black);
    background-color: var(--color-primary);
  }
}

.ellipsis {
  width: 80%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hero {
  i {
    font-size: 800%;
  }
}

.cursor {
  display: inline-block;

  height: 1em;
  width: 0.3em;
  margin-left: 0.7em;
  background-color: var(--color-dark-green);
}

.fixed {
  position: fixed;
  display: inline-block;
}

.r0 {
  right: 0;
}

.b0 {
  bottom: 0;
}
