// The variables are defined here:
:root {
  --font-size: 1rem;
  --font-family: monospace;

  --color-primary: #00d9f1;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-danger: #d63384;
  --color-warn: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f2f2fc;
  --color-dark: #1b1f22;
  --color-black: #0d1117;

  --color-muted: #6c757d;
  --color-muted-primary: #068595;
}

:root {
  --color-text: var(--color-light);
  --color-bg: var(--color-dark);
}
