// The variables are defined here:
:root {
  --font-size: 1rem;
  --font-family: Arial, sans-serif;

  --color-primary: #00D9F1;
  --color-secondary: #6C757D;
  --color-success: #28A745;
  --color-danger: #DC3545;
  --color-warn: #FFC107;
  --color-info: #17A2B8;
  --color-light: #F2F2FC;
  --color-dark: #1B1F22;
  --color-muted: #6C757D;
  --color-muted-primary: #068595;
}

:root {
  --color-text: var(--color-light);
  --color-bg: var(--color-dark);
}
