// The variables are defined here:
:root {
  --font-size: 1rem;
  --font-family: monospace;

  --color-white: #f1f1f1;
  --color-light: #ececff;
  --color-black: #17191c;
  --color-grey: #4c5156;
  --color-green: #2de721;
  --color-blue: #21e5f3;
  --color-red: #ff5252;
  --color-yellow: #fff783;
  --color-orange: #ff9800;
  --color-cyan: #049fb3;
  --color-aqua: #00ffff;
}

:root {
  --color-bg: var(--color-black);
  --color-fg: var(--color-white);

  --color-text: var(--color-light);

  --color-primary: var(--color-aqua);
  --color-highlight: var(--color-blue);
  --color-hint: var(--color-cyan);
  --color-success: var(--color-green);
  --color-warning: var(--color-yellow);
  --color-danger: var(--color-red);
  --color-info: var(--color-orange);
  --color-muted: var(--color-grey);
}
