{{ define "main" }}
<div class="fill">
  {{ if and .Site.Params.toc ( ge ( len .TableOfContents ) 100 ) }}<div id='_top'></div>{{ end }}

  <div class="subject">
    <h1 class="center {{ if .Draft }}draft{{ end }}">{{ .Title }}</h1>
    {{ partial "single_meta.html" . }}
  </div>

  <article class="content">
    {{ if and .Site.Params.toc ( ge (len .TableOfContents ) 100 ) }}
    <aside>
      {{ .TableOfContents }}
      <div class="container">
        <a href='#_top' class="btn right"><i class="fa-solid fa-chevron-up"></i></a>
      </div>
    </aside>
    {{ end }}
    <section>{{ .Content }}</section>
  </article>
</div>
{{ end }}
