{{ $site := .Site }}
{{ $dateLabel := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format "Jan 02, 2006" }}

<div class="single_meta">
  <div class="row">
    <div class="item">
      <i class="fa-regular fa-calendar-days"></i>
      <label><time class="timestamp" datetime="{{ $dateLabel }}">{{ $dateHuman }}</time></label>
    </div>
  </div>

  <div class="row">
    <div class="item">
      <i class="fa-solid fa-clock"></i>
      <label>{{ .Page.ReadingTime }} min read</label>
    </div>
    <div class="item">
      <i class="fa-solid fa-cubes-stacked"></i>
      <label>{{ .Page.WordCount }} words</label>
    </div>
  </div>

  {{ if .Page.Params.tags }}
  <div class="row">
    <div class="item">
      <i class="fa-solid fa-tags"></i>
      <span class="tags">
        {{ range .Page.Params.tags }}
        {{ $term := ($site.Taxonomies.tags.Get .).Page }}
        <label><a class="tag" href="{{- $term.RelPermalink }}">{{ . }}</a></label>
        {{ end }}
      </span>
    </div>
  </div>
  {{ end }}
</div>

<hr />
